@model ProductVM
@{
    ViewBag.Title = "UpdateProduct";
}

@using (Html.BeginForm("UpdateProduct", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(x => x.Product.ID)
    @Html.HiddenFor(x => x.Product.ImagePath)

    <div class="panel">
        <header class="panel-heading">
            <center><h3 style="color: #39b5aa">Ürün Güncelleme Sayfası</h3></center>
        </header>

        <div class="panel-body">
            <div class="form-group">
                <label class="col-sm-2">Ürün Adı</label>

                <div class="col-sm-10">

                    @Html.TextBoxFor(x => x.Product.ProductName, new { @class = "form-control" })
                    
                    <label class="validation">@Html.ValidationMessageFor(x => x.Product.ProductName)</label>

                </div>
            </div>

            <br /> <br />

            <div class="form-group">
                <label class="col-sm-2"> Ürün Fiyatı</label>

                <div class="col-sm-10">

                    @Html.TextBoxFor(x => x.Product.UnitPrice, new { @class = "form-control" })
                    
                    <label class="validation">@Html.ValidationMessageFor(x => x.Product.UnitPrice)</label>

                </div>
            </div>

            <br /> <br />

            <div class="form-group">
                <label class="col-sm-2">Ürün Stok Miktarı</label>

                <div class="col-sm-10">

                    @Html.TextBoxFor(x => x.Product.UnitsInStock, new { @class = "form-control" })
                    
                    <label class="validation">@Html.ValidationMessageFor(x => x.Product.UnitsInStock)</label>

                </div>
            </div>

            <br /> <br />

            <div class="form-group">
                <label class="col-sm-2">Kategoriler</label>

                <div class="col-sm-10">

                    @Html.DropDownListFor(x => x.Product.CategoryID, new SelectList(Model.Categories, "ID", "CategoryName"), "Kategori Seçiniz")
                    
                    <label class="validation">@ViewBag.NotSelectedCategory</label>

                </div>
            </div>

            <br /> <br />

            <div class="form-group">
                <label class="col-sm-2"></label>
                <div class="col-sm-10">
                    <button class="btn btn-primary" style="width:100px;"> Güncelle</button>
                </div>
            </div>
        </div>
    </div>
}

<style>
    .validation {
        color: red;
        font-size: 12px;
    }
</style>

