@model DashboardVM
@{
    ViewBag.Title = "Information";
}

<body>
    <header>
    </header>
    @Html.Partial("_OverviewPartial")
    <div class="panel">
        <div>
            <div class="col-lg-4">
                <!--user info table start-->
                <section class="panel">
                    <div class="panel-body">
                        <h4 style="color: #39b5aa">Last Added Product</h4>
                        <a class="task-thumb" style="margin: 28px 0 0 5px">
                            <img width="85" height="30" title="@Model.Product.ProductName" src="@Model.Product.ImagePath" />
                        </a>
                        <div class="task-thumb-details" style="margin: 23px 0 0 15px">
                            <h1><a>@Model.Product.ProductName</a></h1>
                            <p>@Model.Product.Category.CategoryName</p>
                        </div>
                    </div>
                    <table class="table table-hover personal-task">
                        <tbody>
                            <tr>
                                <td>
                                    <i style="color: #ff6c60"><ion-icon name="cube-outline"></ion-icon></i>
                                </td>
                                <td>Unit In Stock</td>
                                <td>@Model.Product.UnitsInStock</td>
                            </tr>
                            <tr>
                                <td>
                                    <i style="color:forestgreen"><ion-icon name="cash-outline"></ion-icon></i>
                                </td>
                                <td>Unit Price</td>
                                <td>@Model.Product.UnitPrice</td>
                            </tr>

                            <tr>
                                <td>
                                    <i style="color:darkgoldenrod"><ion-icon name="repeat-outline"></ion-icon></i>
                                </td>
                                <td>Update Product</td>
                                <td>@Html.ActionLink("Update","UpdateProduct","Product", new {id = Model.Product.ID})</td>
                            </tr>
                        </tbody>
                    </table>
                </section>
                <!--user info table end-->
            </div>

            <div class="col-lg-2">
                <section class="panel">
                    <div class="panel-body">
                        <center> <h4 style="color: #39b5aa">Control Pannel</h4></center>

                        <center>
                            <ul>
                                <li>@Html.ActionLink("Kategori Ekle", "AddCategory", "Category", null, new { @class = "btn btn-primary" })</li>
                                <br />
                                <li>@Html.ActionLink("Kategori Ekle", "AddCategory", "Category", null, new { @class = "btn btn-success" })</li>
                                <br />
                                <li>@Html.ActionLink("Kategori Ekle", "AddCategory", "Category", null, new { @class = "btn btn-warning" })</li>
                            </ul>
                        </center>
                    </div>
                </section>
            </div>

            <div class="col-lg-6">
                <section class="panel">
                    <div class="panel-body">

                    </div>
                </section>
            </div>
        </div>
    </div>
</body>

<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

<style>
    ion-icon {
        /*--ionicon-stroke-width: 25px;*/
    }
</style>



