@model CategoryVM
@{
    ViewBag.Title = "CategoryList";
}

<section class="panel">
    <header>

    </header>
    <div class="panel-body">
        <div class="adv-table">
            <table cellpadding="0" cellspacing="0" border="0" class="display table table-bordered" id="hidden-table-info">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Kategori İsmi</th>
                        <th>Açıklama</th>
                        <th>Durum</th>
                        <th>Güncelle</th>
                        <th>Sil</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Category item in Model.Categories)
                    {
                        <tr class="gradeX">
                            <td>@item.ID</td>
                            <td>@item.CategoryName</td>
                            <td>@item.Description</td>
                            <td>@item.Status</td>
                            <td>@Html.ActionLink("Güncelle", "UpdateCategory", new { id = item.ID }, new { @class = "btn btn-warning" })</td>
                            <td>@Html.ActionLink("Sil", "DeleteCategory", new { id = item.ID }, new { @class = "btn btn-danger" })</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</section>

<script src="~/Areas/Admin/Scripts/CategoryDTJ.js"></script>