@model PaginationVM
@{
    ViewBag.Title = "ShoppingList";
}

@TempData["SepetBos"]
@TempData["ClearCart"]
@TempData["baglantiRed"]
@TempData["odeme"]
@TempData["sorun"]

<!-- page start-->
<div class="row">
    <div class="col-md-3">
        <section class="panel">
            <div class="panel-body">
                <input type="text" placeholder="Keyword Search" class="form-control">
            </div>
        </section>
        <section class="panel">
            <header class="panel-heading">
                Category
            </header>
            <div class="panel-body">
                <ul class="nav prod-cat">
                    @foreach (Category item in Model.Categories)
                    {
                        <li style="padding-top:30px"> @Html.ActionLink(item.CategoryName, "ShoppingList", new { categoryID = item.ID }, new { @class = "btn btn-primary" })   </li>
                    }
                </ul>
            </div>
        </section>

    </div>
    <div class="col-md-9">
        <section class="panel">
            <div class="panel-body">
                <div class="pull-left">
                    <ul class="pagination pagination-sm pro-page-list">
                        @if (TempData["catID"] != null)
                        {
                            <li>@Html.PagedListPager(Model.PagedProducts, page => Url.Action("ShoppingList", new { page, CategoryID = TempData["catID"] }))</li>
                        }
                        else
                        {
                            <li>@Html.PagedListPager(Model.PagedProducts, page => Url.Action("ShoppingList", new { page }))</li>
                        }
                    </ul>
                </div>
            </div>
        </section>
    </div>

    <div class="col-md-9">
        <section class="panel">
            <div class="panel-body">
                <div class="row product-list">

                    @foreach (Product item in Model.PagedProducts)
                    {
                        <div class="col-md-4">
                            <section class="panel">
                                <div class="pro-img-box">

                                    @if (item.ImagePath == null || item.ImagePath == "3" || item.ImagePath.Contains("night"))
                                    {
                                        <img src="~/Tools/Pictures/NonPicture.jpg" alt="Resim yok" width="378" height="200" title="@item.ProductName" /> }
                                    else
                                    {
                                        <img src="@item.ImagePath" alt="Resim yok" width="378" height="200" title="@item.ProductName" />}



                                    <a href="@Url.Action("AddCart",new { id=item.ID})" class="adtocart">
                                        <i class="icon-shopping-cart"></i>
                                    </a>
                                </div>


                                <div class="panel-body text-center">
                                    <h4>
                                        <a href="#" class="pro-title" title="@item.ProductName">
                                            @item.ProductName | @if (item.Category != null)
                                            {<span>@item.Category.CategoryName</span>}
                                        </a>
                                    </h4>
                                    <p class="price">$@item.UnitPrice</p>
                                </div>
                            </section>
                        </div>
                    }
                </div>
            </div>
        </section>
    </div>
</div>
<!-- page end-->
