@model AppUserVM
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" href="img/favicon.png">

    <title>OnlineShopping | Sign In</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Tools/OuterTools/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Tools/OuterTools/css/bootstrap-reset.css" rel="stylesheet">
    <!--external css-->
    <link href="~/Tools/OuterTools/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="~/Tools/OuterTools/css/style.css" rel="stylesheet">
    <link href="~/Tools/OuterTools/css/style-responsive.css" rel="stylesheet" />
</head>

<body class="login-body">
    <div class="container">

        <h2>@ViewBag.KayitliBilgi</h2>

        @using (Html.BeginForm("RegisterNow", "Register", FormMethod.Post, new { @class = "form-signin" }))
        {
            <center><h2 class="form-signin-heading">ÜYE OL</h2></center>

            <div class="login-wrap">

                <p>Üyelik Bilgileri</p>

                @Html.TextBoxFor(x => x.AppUserDTO.UserName, new { @class = "form-control", placeholder = "Kullanıcı Adı" })

                <center><label class="validation">@Html.ValidationMessageFor(x => x.AppUserDTO.UserName)</label></center>

                @Html.PasswordFor(x => x.AppUserDTO.Password, new { @class = "form-control", placeholder = "Şifre" })

                <center><label class="validation">@Html.ValidationMessageFor(x => x.AppUserDTO.Password)</label></center>

                @Html.TextBoxFor(x => x.AppUserDTO.EMail, new { @class = "form-control", placeholder = "E-Posta" })

                <center><label class="validation">@Html.ValidationMessageFor(x => x.AppUserDTO.EMail)</label></center>

                <hr />
                <p>Kişisel Bilgiler</p>

                @Html.TextBoxFor(x => x.Profile.FirstName, new { @class = "form-control", placeholder = "İsim" })

                <center><label class="validation">@Html.ValidationMessageFor(x => x.Profile.FirstName)</label></center>

                @Html.TextBoxFor(x => x.Profile.LastName, new { @class = "form-control", placeholder = "Soyisim" })

                <center><label class="validation">@Html.ValidationMessageFor(x => x.Profile.LastName)</label></center>

            </div>

            <button class="btn btn-lg btn btn-block btn btn-primary">Üye Ol</button>

            <br />

            <p>Zaten üye Misin?</p>
            <div class="btn btn-lg btn-block">@Html.ActionLink("Giriş Yap", "Login", "Home")</div>
        }
    </div>
</body>
</html>

<style>
    .validation{
        color:red;
        font-size: 12px;
    }
</style>
